@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base resets */
html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
